{%extends 'base.html'%}


{%block content%}

<div id="main">

  <!-- Introduction -->
    <section id="intro" class="main">
      <div class="spotlight">
        <div class="content">
          <header class="major">
            <h2>Portfolio</h2>
          </header>

          <ul class="features">
            <!-- <li><a target="_blank" href="https://drive.google.com/file/d/1LpIDELPEwll04INqRH2ge3IAR2ABCXp7/view?usp=sharing" class="button">MTA 98-381</a></li>
            <li><a target="_blank" href="https://drive.google.com/file/d/1nGGNOD1syNy5gVaQYaCr6-b4dFImNOZk/view?usp=sharing" class="button">Django Course Completion Certificate</a></li>
            --><li>

              <h3>Freecodecamp - Arithmetic Formatter</h3>
              <p>Python application that receives two inputs, a list of strings that are arithmetic problems and returns the problems arranged vertically and side-by-side. The function should optionally take a second argument. When the second argument is set to True, the answers should be displayed.
              <a href="https://www.freecodecamp.org/learn/scientific-computing-with-python/scientific-computing-with-python-projects/arithmetic-formatter">Check here</a></p>
              <ul style='list-style:none;'>
                <li><a target="_blank" href="https://replit.com/@Zalera33/HerryWijayaFreecodePython1" class="button">Replit</a></li>
                <li><a target="_blank" href="https://github.com/Zodiark619/freecodecamp" class="button">Github</a></li>

                <li><a target="_blank" href="{%url 'portfolio1'%}" class="button">Mini Example</a></li>

              </ul>

            </li>
            <!-- <li>

              <h3>Dolor nullam</h3>
              <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
            </li> -->

          </ul>
        </div>

        <!-- <span class="image"><img src="images/pic01.jpg" alt="" /></span> -->
      </div>
    </section>
    </div>


{%endblock%}
