{%extends 'base.html'%}


{%block content%}

<div id="main">

  <!-- Introduction -->
    <section id="intro" class="main">
      <div class="spotlight">
        <div class="content">
          <header class="major">
            <h2>Django Rest</h2>
          </header>




          <ul class="features">
            <!-- <li><a target="_blank" href="https://drive.google.com/file/d/1LpIDELPEwll04INqRH2ge3IAR2ABCXp7/view?usp=sharing" class="button">MTA 98-381</a></li>
            <li><a target="_blank" href="https://drive.google.com/file/d/1nGGNOD1syNy5gVaQYaCr6-b4dFImNOZk/view?usp=sharing" class="button">Django Course Completion Certificate</a></li>
            --><li>

              <h3>Gwent Waifu API</h3>
              <p>Utilizing Django serializers and APIView to convert database queries containing gwent waifu characters and their parameters into JSON format.</p>
              
              <ul style='list-style:none;'>
                

                <li><a target="_blank" href="{%url 'django_rest1'%}" class="button">Mini Example</a></li>
                <li><a target="_blank" href="{%url 'django_rest1_api'%}" class="button">Django Rest API</a></li>

              </ul>

            </li>
            <!-- <li>

              <h3>Dolor nullam</h3>
              <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
            </li> -->

          </ul>





        </div>

        <!-- <span class="image"><img src="images/pic01.jpg" alt="" /></span> -->
      </div>
    </section>
    </div>


{%endblock%}
